<a href="https://colab.research.google.com/github/Aldarion96/Engeto_SQL_projekt/blob/master/Engeto_Python_projekt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pymysql
!pip install sqlalchemy
import sqlalchemy
import pandas as pd
import datetime
user = "student"
password = "p7%40vw7MCatmnKjy7"
conn_string = f"mysql+pymysql://{user}:{password}@data.engeto.com/data"
alchemy_conn = sqlalchemy.create_engine(conn_string)

In [238]:
query = "select * from edinburgh_bikes"
bikes_df =pd.read_sql(query, alchemy_conn)

uprava tabulky

In [239]:
bikes_df[['started_at_date', 'started_at_time']] = bikes_df['started_at'].str.split(' ', 1, expand=True)
bikes_df[['ended_at_date', 'ended_at_time']] = bikes_df['ended_at'].str.split(' ', 1, expand=True)
bikes_df.drop(columns=['started_at','ended_at','index'],inplace=True)

In [240]:
bikes_df = bikes_df[['started_at_date', 'started_at_time','duration', 'start_station_id', 'start_station_name',
       'start_station_description', 'start_station_latitude',
       'start_station_longitude', 'ended_at_date', 'ended_at_time' ,'end_station_id', 'end_station_name',
       'end_station_description', 'end_station_latitude','end_station_longitude']]

In [241]:
condition = ((bikes_df['started_at_date'] > '2020') & (bikes_df['started_at_date'] < '2021'))
bikes_df = bikes_df[condition]

**Připravená tabulka**

In [329]:
bikes_df.head()

   index           started_at  ... end_station_latitude  end_station_longitude
0      0  2018-09-15 08:52:05  ...            55.954728              -3.192653
1      1  2018-09-15 09:24:33  ...            55.962804              -3.196284
2      2  2018-09-15 09:48:54  ...            55.977638              -3.174116
3      3  2018-09-16 12:01:36  ...            55.923479              -3.175385
4      4  2018-09-16 12:03:43  ...            55.923202              -3.171646

[5 rows x 14 columns]

**identifikujte aktivní a neaktivní stanice**

In [356]:
bikes_active_df = bikes_df =pd.read_sql(query, alchemy_conn)

In [357]:
bikes_active_df = (bikes_active_df[['started_at', 'start_station_name', 'ended_at', 'end_station_name']]
                   .groupby('start_station_name')
                   .agg({'started_at': ['min', 'max']})
                   .droplevel(0, axis=1)
)

bikes_active_df

                                          min                  max
start_station_name
Abbeyhill                 2020-01-23 22:13:57  2021-06-30 23:36:16
Balgreen                  2019-04-27 09:41:21  2019-06-03 17:09:58
Balgreen Road             2019-12-13 19:28:32  2020-12-09 11:59:46
Belford Road              2019-09-12 14:54:02  2021-06-29 12:11:08
Boroughmuir               2020-02-06 22:46:23  2021-06-30 21:06:11
...                                       ...                  ...
Wester Coates Terrace     2019-04-26 13:15:56  2021-06-30 20:39:01
Western General           2019-03-29 12:14:21  2019-11-24 12:11:16
Western General Hospital  2019-11-28 16:12:03  2021-06-30 15:16:05
Whitehouse Loan           2018-12-11 19:20:45  2019-06-06 08:45:00
Whitehouse Road           2019-04-27 15:43:25  2019-06-06 06:48:18

[169 rows x 2 columns]

**Tabulka se sloupcem s vypočítanou délkou provozu v 2020**

In [358]:
bikes_active_df = bikes_active_df[['min','max']].astype('datetime64[ns]')

bikes_active_df[['time_lenght']] = (bikes_active_df['max'] - bikes_active_df['min'])
bikes_active_df.sort_values('time_lenght')

                                                                   min  ...        time_lenght
start_station_name                                                      ...
Cycling Scotland Conference                        2019-11-04 16:56:43  ...    0 days 00:00:00
Picady Place                                       2020-10-09 17:26:44  ...    0 days 00:00:00
City Chambers Launch Station                       2020-03-02 08:35:36  ...    0 days 00:00:00
Royal Highland Show - West Gate (19th to 23rd J... 2019-06-21 18:54:37  ...    0 days 00:00:00
Pleasance - Edinburgh University Sports Fair       2019-09-12 13:24:49  ...    0 days 00:32:19
...                                                                ...  ...                ...
Pollock Halls                                      2018-09-16 12:50:17  ... 1018 days 07:41:52
Meadows East                                       2018-09-16 13:09:25  ... 1018 days 08:04:05
Canonmills                                         2018-09-15 09:48:54  ... 1019 days 05:16:11
St Andrew Square                                   2018-09-15 09:24:33  ... 1019 days 11:00:23
Charlotte Square                                   2018-09-15 08:52:05  ... 1019 days 15:06:28

[169 rows x 3 columns]

**MISTO PRO GRAF**

**identifikujte stanice, na kterých se kola hromadí a stanice, kde potenciálně chybí**

In [244]:
bikes_bilance_df = bikes_df
bikes_bilance_df.head(3)

       started_at_date  ... end_station_longitude
138796      2020-01-01  ...             -3.269287
138797      2020-01-01  ...             -3.182739
138798      2020-01-01  ...             -3.192444

[3 rows x 15 columns]

In [245]:
df1 =( bikes_bilance_df[['start_station_name']]
                .assign(flag_started = 1)
                .rename(columns= {'start_station_name': 'station_name'})
                .groupby('station_name')
                .count()  
)
df2 =( bikes_bilance_df[['end_station_name']]
                .assign(flag_ended = 1)
                .rename(columns= {'end_station_name': 'station_name'})
                .groupby('station_name')
                .count()
)
df3 = df1.join(df2)

In [359]:
df3['bilance'] = df3['flag_ended'] - df3['flag_started'] 
df3

                          flag_started  flag_ended  bilance
station_name
Abbeyhill                         3830      4212.0    382.0
Balgreen Road                     1876      2237.0    361.0
Belford Road                       761       711.0    -50.0
Boroughmuir                       3216      3337.0    121.0
Borrowman Square                   596       523.0    -73.0
...                                ...         ...      ...
Waverley Court                     790       707.0    -83.0
Waverley Station                   507       372.0   -135.0
West Crosscauseway                2653      1773.0   -880.0
Wester Coates Terrace             1444      1531.0     87.0
Western General Hospital          1333      1418.0     85.0

[115 rows x 3 columns]

**MISTO PRO GRAF**